


<div class="container" style="max-width:100%;">

  <h1>Newest businesses</h1>
<div class="row">
    <% @businesses.order('created_at desc').first(20).each do |business| %>
    <div class="card" style="width: 18rem; margin:10px;">
      <%= image_tag business.image.url(:medium) %>
         <div class="card-body">
        <h5 class="card-title"><%= business.name %></h5>
        <p class="card-text">Average score: <b><%= business.reviews.average(:rating)%></b></p>

        <p class="card-text"><%= business.description.truncate(70) %></p>

        <%= link_to 'Read more', business, class: "btn btn-primary" %>
        <% if current_user == business.user %>
        <%= link_to 'Edit', edit_business_path(business) %>
        <%= link_to 'Destroy', business, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
</div>



    <% end %>
  </div>

</div>
